################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Profitify/Profitify/Profitify_web/obj
/Profitify/Profitify/Profitify_web/bin/Debug/net6.0
/Profitify/Profitify/.vs/Profitify/FileContentIndex
/Profitify/Profitify/.vs/Profitify/v17
/Profitify/Profitify/.vs/ProjectEvaluation
/.vs/Pankaj/FileContentIndex
/.vs/Pankaj/v17/.wsuo
/.vs/slnx.sqlite
